<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.danegor.newswidget">
    <uses-sdk android:minSdkVersion="11"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <receiver
                android:name=".NewsWidget"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_metadata">
            </meta-data>
        </receiver>
        <service
                android:name=".WidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>
</manifest>
